.top-text {
    font-family: Barlow Condensed;
    letter-spacing: 2.7px;
}

.number {
    opacity: 0.25;
    font-weight: bold;
    position: relative;
    left: -18px;
}
.set {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc {
    line-height: 25px;
}
.nav-bar {
    font-family: Barlow Condensed;
    letter-spacing: 2.4px;
    word-spacing: 20px;
}
.numbers {
    font-family: Barlow Condensed;
    line-height: 2rem;

}
.name {
    font-family: Bellefair;
}
.nav-word:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    body {
        background-image: url(./assets/destination/background-destination-mobile.jpg);
    }
    .top-text {
        margin-top: 6rem;
    }
    #image {
        z-index: -99;
        position: absolute;
        top: 0;
        transform: scale(.4);
    }
    .nav-bar {
        margin: 13rem 0 .8rem 0;
    }
    .name {
        font-size: 56px;
        font-weight: 400;
    }
    .desc {
        margin: 0 24px;
        margin-top: 10px;
    }
    .sep-line {
        border: none;
        height: 1px;
        background-color: white;
        opacity: .25;
        width: 80%;
        margin: 2rem auto;
    }
    .distance {
        margin-bottom: 1rem;
        line-height: 2rem;
    }
    #km {
        font-family: Bellefair;
        font-size: 28px;
    }
    #time {
        font-family: Bellefair;
        font-size: 28px;
    }
    .travel-time {
        padding-bottom: 2.5rem;
        line-height: 2rem;
    }
    .nav-word {
        font-size: 1.2rem;
        padding: 1rem;
    }
}
@media (max-width: 860px) and (min-width: 500px) {
    body {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
    .top-text {
        margin-top: 8rem;
        position: relative;
        left: -30%;
    }
    #image {
        z-index: -99;
        position: absolute;
        top: 4.5rem;
        transform: scale(.52);
    }
    .nav-bar {
        margin: 18rem 0 .8rem 0;
    }
    .name {
        font-size: 56px;
        font-weight: 400;
    }
    .desc {
        margin: 0 14%;
        margin-top: 10px;
    }
    .sep-line {
        border: none;
        height: 1px;
        background-color: white;
        opacity: .25;
        width: 80%;
        margin: 2rem auto;
    }
    .distance {
        margin-right: 20%;
    }
    #km {
        font-family: Bellefair;
        font-size: 28px;
    }
    #time {
        font-family: Bellefair;
        font-size: 28px;
    }
    .nav-word {
        font-size: 1.15rem;
        padding: 1rem;
    }
    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
@media (min-width: 860px) {
    body {
        background-image: url(./assets/destination/background-destination-desktop.jpg);
        background-repeat: repeat-y;
    }
    .set {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
    .top-text {
        font-size: 28px;
        position: relative;
        left: 0%;
        grid-area: 1 / 1 / span 1 / span 1;
    }
    #image {
        z-index: -99;
        position: absolute;
        left: 25%;
        bottom: 3.2rem;
        transform: scale(1);
        grid-area: 2 / 1 / span 1 / span 1;
    }
    .main-info {
        position: relative;
        bottom: 5rem;
        grid-area: 2 / 2 / span 1 / span 1;
    }
    .nav-bar {
        position: relative;
        bottom: 5rem;
        margin: 20rem 0 .8rem 0;
        grid-area: 1 / 2 / span 1 / span 1;
    }
    
    .name {
        font-size: 100px;
        font-weight: 400;
        
    }
    .desc {
        text-align: left;
        margin: 0 20%;
        margin-top: 10px;
        font-size: 18px;
    }
    .sep-line {
        border: none;
        height: 1px;
        background-color: white;
        opacity: .25;
        width: 60%;
        margin: 2rem auto;
    }
    .distance {
        margin-right: 20%;
    }
    #km {
        font-family: Bellefair;
        font-size: 28px;
    }
    #time {
        font-family: Bellefair;
        font-size: 28px;
    }
    .nav-word {
        font-size: 1.15rem;
        margin: .5rem;
        padding: .5rem;
    }
    .numbers {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
