* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
}
main {
    color: #D0D6F9;
    text-align: center;
    height: 100%;
}
.page-header {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 58%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    padding: 2rem 0 2rem 2rem;
    line-height: 17px;
    color: white;
    position: absolute;
    top: 5px;
    right: 0;
    
}
a {
    text-decoration: none;
    color: white;
}
.line {
    position: absolute;
    top: 85px;
    left: 150px;
    width: 33%;
    height: 0.8px;
    background-color: white;
    border: none;
    opacity: 0.23;
    z-index: 9;
}
.nav-button {
    display: none;
    position: absolute;
    top: 33px; 
    right: 23px;
    z-index: 99;
}
.close-nav {
    visibility: hidden;
    position: absolute;
    top: 33px; 
    right: 23px;
    z-index: 99;
    transform: scale(0.9);
}
.logo {
    transform: scale(0.85);
    position: absolute;
    top: 20px;
    left: 20px;
}
.main-info {
    display: flex;
    flex-direction: column;
}
.article-header {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2.7px;
    line-height: 19.2px;
}
h1 {
    font-family: 'Bellefair', serif;
    font-size: 80px;
    color: white;
    font-weight: 400;
}
.description {
    margin-top: 20px;
    line-height: 25px;
}


@media (max-width: 500px) {
    body {
        background-image: url(assets/home/background-home-mobile.jpg);
    }
    .page-header {
        position: absolute;
        flex-direction: column;
        z-index: 50;
        width: 50%;
        display: none;
    }
    .page-header a {
        margin: 3.5rem 30px 3.5rem 0;
        
    }
    .line {
        display: none;
    }
    .nav-button {
        display: initial;
        transform: scale(0.85);
    }
    .explore-button {
        display: none;
    }
    .main-info {
        position: relative;
        top: 17%;
        margin: 0 25px;
    }
    .article-header {
        margin-bottom: 22px;
    }
    
    
}
@media (max-width: 860px) and (min-width: 500px) {
    body {
        background-image: url(assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page-header {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(15px);
        padding: 2rem 0 2rem 2rem;
        font-size: 14px;
        line-height: 17px;
        color: white;
        position: absolute;
        top: 5px;
        right: 0;
    }
    .pre-numbers {
        display: none;
    }
    .explore-button {
        display: none;
    }
    .line {
        display: none;
    }
    .main-info {
        position: relative;
        top: 17%;
        margin: 0 21%;
    }
    .article-header {
        margin-bottom: 22px;
        font-size: 20px;
    }
    h1 {
        font-size: 150px;
    }
    .description {
        font-size: 16px;
        margin: 20px 0;
        word-wrap: break-word;
    }
    
}
@media (min-width: 860px) {
    body {
        background-image: url(assets/home/background-home-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page-header {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(15px);
        padding: 2.5rem 0 2.5rem 2rem;
        line-height: 17px;
        color: #fff;
        position: absolute;
        top: 38px;
        right: 0;
        letter-spacing: 2.7px;
    }
    .pre-numbers {
        font-weight: bold;
    }
    .logo {
        transform: scale(1);
        top: 62px;
        left: 50px;
    }
    .main-info {
        position: absolute;
        max-width: 444px;
        bottom: 12.5%;
        left: 11.5%;
        text-align: left;
        
    }
    .explore-button {
        display: none;
    }
    .article-header {
        margin-bottom: 30px;
        font-size: 28px;
        letter-spacing: 4.7px;
    }

    h1 {
        font-size: 150px;
    }
    .description {
        line-height: 32px;
        font-size: 18px;
        margin: 20px 0;
        word-wrap: break-word;
    }

}