* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
}
main {
    color: #D0D6F9;
    text-align: center;
    height: 100%;
}
a {
    color: #fff;
    text-decoration: none;
}
h1 {
    letter-spacing: 2.4px;
}
.page-header {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 58%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    padding: 2rem 0 2rem 2rem;
    line-height: 17px;
    color: white;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 999;
}
.line {
    position: absolute;
    top: 85px;
    left: 150px;
    width: 33%;
    height: 0.8px;
    background-color: white;
    border: none;
    opacity: 0.23;
    z-index: 9999;
}
.nav-button {
    display: none;
    position: absolute;
    top: 33px; 
    right: 23px;
    z-index: 99;
}
.close-nav {
    visibility: hidden;
    position: absolute;
    top: 33px; 
    right: 23px;
    z-index: 99;
    transform: scale(0.9);
}
.logo {
    transform: scale(0.85);
    position: absolute;
    top: 20px;
    left: 20px;
}
.nav-word {
    font-family: Barlow Condensed;
    border: none;
    background: transparent;
    color: #D0D6F9;
}
@media (max-width: 500px) {

    .page-header {
        position: absolute;
        flex-direction: column;
        z-index: 50;
        width: 50%;
        display: none;
    }
    .page-header a {
        margin: 3.5rem 30px 3.5rem 0;
        
    }
    .line {
        display: none;
    }
    .nav-button {
        display: initial;
        transform: scale(0.85);
    }
    .explore-button {
        display: none;
    }
}
@media (max-width: 860px) and (min-width: 500px) {
    
    .page-header {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(15px);
        padding: 2rem 0 2rem 2rem;
        font-size: 14px;
        line-height: 17px;
        color: white;
        position: absolute;
        top: 5px;
        right: 0;
    }
    .pre-numbers {
        display: none;
    }
    .explore-button {
        display: none;
    }
    .line {
        display: none;
    }
}
@media (min-width: 860px) {
    .page-header {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(15px);
        padding: 2.5rem 0 2.5rem 2rem;
        line-height: 17px;
        color: #fff;
        position: absolute;
        top: 37px;
        right: 0;
        letter-spacing: 2.7px;
    }
    .pre-numbers {
        font-weight: bold;
    }
    .logo {
        transform: scale(1);
        top: 62px;
        left: 50px;
    }
}